.review_form_input_icon_wrapper {
  position: relative;
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .review_form_input_icon_wrapper {
    margin-bottom: 18px;
  }
}

.review_form_input_icon {
  position: absolute;
  top: 50%;
  left: 18px;
  width: 18px;
  height: 18px;
  fill: none;
  stroke: var(--field-icon-stroke);
  transition: stroke 250ms var(--transition), opacity 250ms var(--transition);
  transform: translateY(-50%);
}

@media only screen and (min-width: 768px) {
  .review_form_input_icon {
    left: 24px;
    width: 24px;
    height: 24px;
  }
}

.review_form_input_icon.review_form_input_icon__error {
  right: 14px;
  left: auto;
  opacity: 0;
  fill: var(--field-icon-fill-error);
  stroke: none;
}

.review_form_input_icon.review_form_input_icon__error.review_form_input_icon__error__visible {
  opacity: 1;
}
