.review_form_input_icon_wrapper {
  position: relative;
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .review_form_input_icon_wrapper {
    margin-bottom: 18px;
  }
}

.review_form_input_icon {
  position: absolute;
  top: 50%;
  left: 18px;
  width: 18px;
  height: 18px;
  fill: none;
  stroke: var(--Field-icon-stroke);
  transition: stroke 250ms var(--transition);
  transform: translateY(-50%);
}

.review_form_input:focus + .review_form_input_icon {
  stroke: var(--orange);
}

@media only screen and (min-width: 768px) {
  .review_form_input_icon {
    left: 24px;
    width: 24px;
    height: 24px;
  }
}
