.hero {
  padding: 395px 20px 20px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, var(--hero-filter), var(--hero-filter)),
    url('../../assets/images/hero/heroBg/hero_bg_mobile_1x.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(to bottom, var(--hero-filter), var(--hero-filter)),
      url('../../assets/images/hero/heroBg/hero_bg_mobile_2x.webp');
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    padding: 671px 40px 40px;
    background-image: linear-gradient(to bottom, var(--hero-filter), var(--hero-filter)),
      url('../../assets/images/hero/heroBg/hero_bg_tablet_1x.webp');
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(to bottom, var(--hero-filter), var(--hero-filter)),
      url('../../assets/images/hero/heroBg/hero_bg_tablet_2x.webp');
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    padding: 381px 40px 40px;
    background-image: linear-gradient(to bottom, var(--hero-filter), var(--hero-filter)),
      url('../../assets/images/hero/heroBg/hero_bg_desktop_1x.webp');
  }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(to bottom, var(--hero-filter), var(--hero-filter)),
      url('../../assets/images/hero/heroBg/hero_bg_desktop_2x.webp');
  }
}

.hero__title {
  margin-bottom: 32px;
  color: var(--white);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  white-space: pre;
}

@media only screen and (min-width: 768px) {
  .hero__title {
    font-size: 28px;
    line-height: 1.21;
  }
}

.hero__nav-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media only screen and (min-width: 768px) {
  .hero__nav-wrapper {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    align-items: center;
  }
}

.hero__main-btns-wrapper {
  display: flex;
  gap: 14px;
  color: var(--white);
  font-weight: 600;
  font-size: 14px;
}

.hero__main-btn {
  height: 41px;
  padding: 12px 28px;
  border-radius: 100px;
}

@media only screen and (min-width: 768px) {
  .hero__main-btn {
    height: 45px;
    padding: 14px 40px;
  }
}

.hero__main-btn--order {
  width: 120px;
  background-color: var(--orange);
}

@media only screen and (min-width: 768px) {
  .hero__main-btn--order {
    width: 144px;
  }
}

.hero__main-btn--info {
  width: 159px;
  border: 1px solid var(--white);
}

@media only screen and (min-width: 768px) {
  .hero__main-btn--info {
    width: 183px;
  }
}

.hero__scroll-link {
  width: 107px;
}

@media only screen and (min-width: 768px) {
  .hero__scroll-link {
    width: 130px;
  }
}

.hero__scroll-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

.hero__scroll-label {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
}

@media only screen and (min-width: 768px) {
  .hero__scroll-label {
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero__scroll-btn {
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-color: var(--white);
}

@media only screen and (min-width: 768px) {
  .hero__scroll-btn {
    width: 38px;
    height: 38px;
  }
}

.hero__scroll-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 768px) {
  .hero__scroll-icon {
    width: 22px;
    height: 22px;
  }
}
