.menu.nav {
  margin: auto 0;
}

.menu.nav_list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 124px;
}

.header.nav_list {
  display: flex;
  gap: 20px;
  width: 312px;
}

@media only screen and (min-width: 1158px) {
  .header.nav_list {
    gap: 24px;
    width: 320px;
  }
}

.footer.nav_list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
  .footer.nav_list {
    flex-direction: row;
    gap: 16px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer.nav_list {
    gap: 24px;
  }
}
