.menu-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  width: 32px;
  height: 32px;
}

.menu-icon {
  width: 100%;
  height: 100%;
  transition: transform 250ms var(--transition);
}

.menu-btn:active .menu-icon {
  transform: scale(87.5%);
}

.header__menu-btn--open,
.menu__menu-btn--open {
  stroke: var(--black);
}

.header__menu-btn--close,
.menu__menu-btn--close {
  stroke: var(--white);
}
