.header__menu-btn {
  width: 32px;
  height: 32px;
}

.header__menu-icon {
  width: 100%;
  height: 100%;
  stroke: var(--black);
  transition: transform 250ms var(--transition);
}

.header__menu-btn:active .header__menu-icon {
  transform: scale(87.5%);
}
