.benefits_icon {
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  padding: 14px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  fill: var(--orange);
}

.benefits_sub_title {
  margin-bottom: 18px;
  color: var(--white);
  font-weight: 600;
  font-size: 18px;
}

@media only screen and (min-width: 1158px) {
  .benefits_sub_title {
    letter-spacing: 0.01em;
  }
}

.benefits_description {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 1158px) {
  .benefits_description {
    line-height: 1.29;
  }
}
