.header__logo-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 169px;
  padding: 23.5px 0 17.5px;
}

@media only screen and (min-width: 768px) {
  .header__logo-link {
    padding: 29.5px 0;
  }
}

@media only screen and (min-width: 1158px) {
  .header__logo-link {
    width: 213px;
    padding: 28px 0;
  }
}
