.logo__link {
  padding: 20px 0 14px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

.logo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 169px;
}

.logo__accent {
  font-style: italic;
}

.logo__icon_thumb {
  display: flex;
  justify-content: center;
  align-items: center;
}
