.wrapper {
  display: flex;
  justify-content: space-between;
  width: 169px;
}

.text {
  padding: 20px 0 14px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

.accent {
  font-style: italic;
}
