body {
  background-color: var(--light);
  color: var(--black);
  font-family: var(--font-family);
}

body.menu-is-open {
  overflow: hidden;
}

.container {
  width: 335px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 704px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    width: 1136px;
  }
}
