body {
  background-color: var(--light);
  color: var(--black);
  font-family: var(--font-family);
}

html.menu_is_open,
body.menu_is_open {
  overflow: hidden;
}

.visually_hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

.container {
  width: 100vw;
  min-width: 280px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

.section {
  margin-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .section {
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1158px) {
  .section {
    margin-bottom: 120px;
  }
}

.section_title {
  margin: 0 auto;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
}

.section_title_accent {
  color: var(--orange);
}

@media only screen and (min-width: 768px) {
  .section_title {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 1.17;
  }
}
