.main-title {
  margin-bottom: 32px;
  color: var(--white);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  white-space: pre;
}

@media only screen and (min-width: 768px) {
  .main-title {
    font-size: 28px;
    line-height: 1.21;
  }
}
