.header__logo-icon-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1158px) {
  .header__logo-icon {
    width: 24px;
    height: 24px;
  }
}
