.benefits_list {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

@media only screen and (min-width: 768px) {
  .benefits_list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 44px 88px;
  }
}

@media only screen and (min-width: 1158px) {
  .benefits_list {
    flex-wrap: nowrap;
  }
}

.benefits_item {
  position: relative;
  padding-right: 28px;
}

@media only screen and (min-width: 768px) {
  .benefits_item {
    flex-basis: calc((100% - 88px) / 2);
    padding-right: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .benefits_item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -44px;
    display: block;
    width: 1px;
    height: 124px;
    background-color: rgba(255, 255, 255, 0.5);
    transform: translateY(-50%);
  }

  .benefits_item:hover svg {
    transition: transform 1000ms var(--transition);
    transform: rotateY(360deg);
  }
}
