.review_form_field_wrapper {
  position: relative;
}

.review_form_field {
  width: 100%;
  height: 46px;
  padding: 13px 18px 13px 43px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  transition: border-color 250ms var(--transition);
}

.review_form_field:focus {
  border-color: var(--orange);
}

@media only screen and (min-width: 768px) {
  .review_form_field {
    height: 68px;
    padding: 22px 24px 22px 62px;
    border-radius: 13px;
  }
}

.review_form_field.review_form_field__error {
  border-color: #e74a3b;
}

.review_form_input_icon {
  position: absolute;
  top: 50%;
  left: 18px;
  width: 18px;
  height: 18px;
  fill: none;
  stroke: var(--field-icon-stroke);
  transition: stroke 250ms var(--transition);
  transform: translateY(-50%);
}

@media only screen and (min-width: 768px) {
  .review_form_input_icon {
    left: 24px;
    width: 24px;
    height: 24px;
  }
}

.review_form_input_icon.review_form_input_icon__error_icon {
  right: 18px;
  left: auto;
  opacity: 0;
  pointer-events: none;
  fill: var(--field-icon-error);
  stroke: none;
  transition: scale 250ms var(--transition), opacity 250ms var(--transition);
}

.review_form_input_icon.review_form_input_icon__error_icon:active {
  scale: 0.95;
}

@media only screen and (min-width: 768px) {
  .review_form_input_icon.review_form_input_icon__error_icon {
    right: 24px;
  }
}

textarea + .review_form_input_icon.review_form_input_icon__error_icon {
  top: 14px;
  transform: none;
}

@media only screen and (min-width: 768px) {
  textarea + .review_form_input_icon.review_form_input_icon__error_icon {
    top: 22px;
  }
}

.review_form_input_icon.review_form_input_icon__error_icon.review_form_input_icon__error_icon__visible {
  opacity: 1;
  cursor: pointer;
  pointer-events: all;
}

.error_message {
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms var(--transition);
}

.error_message.error_message__visible {
  opacity: 1;
  visibility: visible;
}
