.header_container {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header_nav_socials_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 488px;
}

@media only screen and (min-width: 1158px) {
  .header_nav_socials_wrapper {
    width: 558px;
  }
}
