.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-socials-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 488px;
}

@media only screen and (min-width: 1158px) {
  .header__nav-socials-wrapper {
    width: 558px;
  }
}

.header__nav-list {
  display: flex;
  gap: 20px;
  width: 312px;
}

@media only screen and (min-width: 1158px) {
  .header__nav-list {
    gap: 24px;
    width: 320px;
  }
}
