.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 488px;
}

@media only screen and (min-width: 1158px) {
  .header__container {
    width: 558px;
  }
}
