.socials_link {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 7px;
  border-radius: 10px;
  transition: border-color 250ms var(--transition);
}

.menu.socials_link {
  border: 1px solid var(--menu-socials-border);
}

.header.socials_link {
  border: 1px solid var(--header-socials-border);
}

.socials_link:active {
  border-color: var(--socials-border-accent);
}

@media only screen and (min-width: 1158px) {
  .header.socials_link:hover,
  .header.socials_link:focus {
    border-color: var(--socials-border-accent);
  }
}

.socials_icon {
  width: 100%;
  height: 100%;
  transition: fill 250ms var(--transition);
}

.menu.socials_icon {
  fill: var(--white);
}

.header.socials_icon {
  fill: var(--black);
}

.socials_link:active .socials_icon {
  fill: var(--orange);
}

@media only screen and (min-width: 1158px) {
  .header.socials_link:hover .header.socials_icon,
  .header.socials_link:focus .header.socials_icon {
    fill: var(--orange);
  }
}
