.socials_link {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 7px;
  border-radius: 10px;
  transition: border-color 250ms var(--transition);
}

.menu.socials_link {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.header.socials_link {
  border: 1px solid rgba(17, 17, 17, 0.1);
}

.socials_link:active {
  border-color: rgba(253, 146, 34, 0.1);
}

@media only screen and (min-width: 1158px) {
  .socials_link:hover,
  .socials_link:focus {
    border-color: rgba(253, 146, 34, 0.1);
  }
}

.socials_icon {
  width: 100%;
  height: 100%;
  transition: fill 250ms var(--transition);
}

.menu.socials_icon {
  fill: var(--white);
}

.header.socials_icon {
  fill: var(--black);
}

.socials_link:active .socials_icon {
  fill: var(--orange);
}

@media only screen and (min-width: 1158px) {
  .socials_link:hover .socials_icon,
  .socials_link:focus .socials_icon {
    fill: var(--orange);
  }
}
