:root {
  --font-family: 'Montserrat', sans-serif;
  --black: #111;
  --orange: #fd9222;
  --violet: #1e1823;
  --beige: #fcf1e0;
  --light: #fafafa;
  --gray: #4c4c4c;
  --white: #fff;
  --marker-body: #4c4c4c;
  --marker-border: #eceded;
  --hero-filter: rgba(17, 17, 17, 0.4);
  --socials-border: rgba(17, 17, 17, 0.1);
  --socials-border-accent: rgba(253, 146, 34, 0.1);
}
