:root {
  --black: #111;
  --orange: #fd9222;
  --violet: #1e1823;
  --beige: #fcf1e0;
  --light: #fafafa;
  --gray: #4c4c4c;
  --white: #fff;
  --play-fill: #f5f4f4;
  --marker-body: #4c4c4c;
  --marker-border: #eceded;
  --Field-icon-stroke: #404040;
  --font-family: 'Montserrat', sans-serif;
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}
