.benefits {
  padding: 20px 0;
  background-color: var(--violet);
}

@media only screen and (min-width: 768px) {
  .benefits {
    padding: 50px 0;
  }
}

@media only screen and (min-width: 1158px) {
  .benefits .benefits_container {
    padding: 0 50px;
  }
}
